@import url(../css/normalize.css);
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px; }

.container {
  width: 1140px;
  margin: auto;
  padding: 0 16px; }

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin-top: 320px; }

.news-block {
  margin-bottom: -15px; }
  .news-block.news-block--tall {
    grid-row: 1 / 3;
    grid-column: 1; }
    .news-block.news-block--tall .news-block__body {
      height: 600px; }
  .news-block .news-block__body {
    width: 100%;
    height: 224px;
    border-radius: 14px 0px 14px 14px;
    position: relative;
    background-color: #CCC8A2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .news-block .news-block__body a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none; }
      .news-block .news-block__body a:hover .news-block__body {
        transform: scale(1.1); }
    .news-block .news-block__body.news-block_body_element1 {
      background-image: url("../img/bg_1.jpg"); }
    .news-block .news-block__body.news-block_body_element2 {
      background-image: url("../img/bg_2.jpg"); }
    .news-block .news-block__body.news-block_body_element3 {
      background-image: url("../img/bg_3.png"); }
    .news-block .news-block__body.news-block_body_element4 {
      background-image: url("../img/bg_4.jpg"); }
    .news-block .news-block__body .news-block__body-date {
      color: #fff;
      position: absolute;
      right: 16px;
      top: 16px;
      background-color: rgba(62, 63, 64, 0.7);
      border-radius: 8px 0px 8px 8px;
      padding: 1px 20px 8px;
      font-weight: 600;
      line-height: 114%;
      text-align: center; }
      .news-block .news-block__body .news-block__body-date .news-block__bod-day {
        font-size: 32px;
        line-height: 40px; }
      .news-block .news-block__body .news-block__body-date .news-block__body-month {
        line-height: 11px; }
    .news-block .news-block__body .news-block__body-text {
      color: #fff;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 32px;
      padding: 25px 0 0 25px;
      width: 70%; }
  .news-block .news-block__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; }
  .news-block .news-block__header-author {
    display: flex;
    align-items: center; }
    .news-block .news-block__header-author .news-block__header-author-name {
      font-weight: 600;
      margin-left: 8px; }
  .news-block .news-block__header-badge {
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
    background-color: #3E99ED;
    border-radius: 6px 6px 0px 6px;
    padding: 5px 10px;
    margin-right: 5%; }
  .news-block .news-block__footer {
    margin-top: 10px; }
    .news-block .news-block__footer .news-block__footer-line1 {
      display: flex;
      justify-content: space-between;
      padding: 0 9px; }
      .news-block .news-block__footer .news-block__footer-line1 .news-block__footer-place {
        color: #3E99ED;
        font-weight: 600; }
        .news-block .news-block__footer .news-block__footer-line1 .news-block__footer-place.news-block__footer-place-online {
          color: #48B0A2; }
      .news-block .news-block__footer .news-block__footer-line1 .news-block__footer-section a {
        color: #898B8C;
        text-decoration: none; }
    .news-block .news-block__footer .news-block__footer-name {
      margin-top: 6px;
      padding: 0 7px; }
    .news-block .news-block__footer .news-block__footer-name a {
      font-size: 20px;
      font-weight: 600;
      color: #252626;
      text-decoration: none; }
      .news-block .news-block__footer .news-block__footer-name a:hover {
        text-decoration: none;
        cursor: pointer; }

.news-button {
  text-align: center; }
  .news-button a {
    display: block;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border-radius: 24px;
    background-color: #3E99ED;
    text-decoration: none;
    width: 364px;
    margin: 65px auto;
    padding: 7px; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .news {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 330px;
    grid-gap: 16px; }
    .news .news-block {
      margin-bottom: -3px; }
      .news .news-block .news-block__header {
        margin-bottom: 6px; }
      .news .news-block .news-block__header-author {
        margin-left: 8px; }
      .news .news-block .news-block__body .news-block__body-date {
        top: 16px;
        right: 17px;
        padding: 2px 20px 9px; }
      .news .news-block .news-block__footer {
        margin-top: 12px; }
        .news .news-block .news-block__footer .news-block__footer-line1 {
          padding: 0 9px; }
        .news .news-block .news-block__footer .news-block__footer-name {
          margin-top: 7px;
          padding: 0px 9px; }

  .container {
    width: auto; }

  .news-button a {
    margin: 73px auto;
    padding: 7px 1px; } }
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    margin: 0; }

  .news {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px; }

  .container {
    width: auto; }

  .news-button a {
    width: auto; }

  .news-block {
    margin-bottom: 0; }
    .news-block.news-block--tall .news-block__body {
      height: 184px; }
    .news-block .news-block__header {
      margin-bottom: 6px; }
    .news-block .news-block__header-badge {
      font-size: 10px;
      line-height: 9px;
      border-radius: 4px 4px 0px 4px;
      letter-spacing: 0.02em;
      padding: 4px 5px;
      margin-right: 4%; }
    .news-block .news-block__header-author .news-block__header-author-avatar {
      margin-left: 7px; }
    .news-block .news-block__header-author .news-block__header-author-name {
      margin-left: 9px; }
    .news-block .news-block__body {
      height: 184px; }
      .news-block .news-block__body.news-block_body_element1 {
        background-size: 34%;
        background-position: center; }
      .news-block .news-block__body .news-block__body-date {
        right: 11px;
        top: 11px;
        padding: 1px 17px 10px;
        line-height: 114%;
        line-height: 100%;
        font-size: 12px; }
        .news-block .news-block__body .news-block__body-date .news-block__bod-day {
          font-size: 26px;
          line-height: 32px; }
      .news-block .news-block__body .news-block__body-text {
        font-size: 26px;
        line-height: 28px;
        padding: 14px 0 0 16px;
        width: 67%; }
    .news-block .news-block__footer {
      margin-top: 6px; }
      .news-block .news-block__footer .news-block__footer-line1 {
        padding: 0 8px; }
      .news-block .news-block__footer .news-block__footer-name {
        margin-top: 3px;
        padding: 0 7px;
        letter-spacing: -0.9px; }

  .news-button a {
    margin: 65px auto; } }

/*# sourceMappingURL=styles.css.map */
